<!DOCTYPE html>
<html>
  <head>
    <title>Notepad</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container mx-auto">
      <%= link_to "Home", root_path %>
      <%= link_to "Notes", notes_path %>
      <%= link_to "About", static_pages_about_path %>
      <%= link_to "Conatct", static_pages_contact_path %>
    </div>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
