<!DOCTYPE html>
<html>
  <head>
    <title>Notepad</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="sm:flex sm:flex-row bg-orange-300 py-5 mx-auto text-orange-700 space-x-14">
      <div class="container text-3xl font-bold">
        <%= link_to "Notepad", root_path, class: "ml-8 hover:text-pink-100" %>
      </div>
      <div class="container font-semibold">
        <%= link_to "Home", root_path, class: "mx-3 hover:text-pink-100" %>
        <%= link_to "Notes", notes_path, class: "mx-3 hover:text-pink-100" %>
        <%= link_to "About", static_pages_about_path, class: "mx-3 hover:text-pink-100" %>
        <%= link_to "Conatct", static_pages_contact_path, class: "mx-3 hover:text-pink-100" %>
      </div>
      
      <div class="container">
        <% if user_signed_in? %>
        <%= link_to "Edit profile", edit_user_registration_path, class: "mx-3 hover:text-pink-100" %>
          <span> Signed in as <%= current_user.email %>. Not you? </span>
          <%= link_to "Sign out", destroy_user_session_path, class: "mx-3 hover:text-pink-100", data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: "mx-3 hover:text-pink-100", method: :get %>
          <%= link_to "sign in", new_user_session_path, class: "mx-3 hover:text-pink-100" %>
        <% end %>      
      </div>


    </div>
    <div class="mx-auto">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <main class="container mx-auto mt-14 px-3 sm:flex">
      <%= yield %>
    </main>
  </body>
</html>
